@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans:300,400|Roboto:300,400,700');

html {
    font-size:14px;
}
img {
    max-width:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
     font-family: 'Roboto', sans-serif;
}
.hot {
     color:#E84C3D !important;
}
.hot-bg {
    background: #E84C3D !important;
}
.dark {
     color:#333B46 !important;
}
.dark-grey {
    color:#333B46;
}
.light-p {
    color:#81868E !important;
}
.very-light-p {
    color:#898989;
}
.line:after {
    content: '';
    display: block;
    width:46px;
    height:3px;
    margin:1rem 0;
    background-color:#898989;
   
}
.actions .line:after,
.crew .line:after {
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%);
    
    
}
.line-white:after {
    content: '';
    display: block;
    width:46px;
    height:3px;
    margin:1rem 0;
    background-color:#fff;
}
.line-light-grey:after {
    content: '';
    display: block;
    width:46px;
    height:3px;
    margin:1rem 0;
    background-color:#EBEBEB;
    
}
/*HEADER*/

header .navbar-brand {
    font-family: 'Leckerli One', cursive;
    font-size: 2rem; 
}

header .nav-item .nav-link:hover{
    color:#000 !important;
}
header .active .nav-link {
    color:#000 !important;

}
header li {
     border-bottom: 1px solid #333B46 !important;
     
}

/*LEAD-SECTION*/
.lead-section {
    padding: 200px 0  !important;
}
.lead-section h5{
    margin-bottom: 150px;
}
.lead-section p{
    font-family: 'Open Sans';
}
.lead-section .mouse-item {
    left:50%;
    transform: translate(-50%);
    bottom:5%;
}

/*ABOUT SECTION*/

.about article p {
     font-family: 'Open Sans';
     font-size: 14px !important;
}
.about button:hover {
    background-color: red !important;
}

/*ACTIONS SECTION*/
.actions article {
    border: 3px solid #EBEBEB;
    border-radius: 15px;
    margin-bottom: 35px;
    padding:20px;
}
.actions .actions-icons {
    margin-right: 20px;
}

.actions .actions-icons a {
    text-decoration: none;
    color:#fff;
    width: 80px;
    height:80px;
    font-size: 35px;
    line-height: 80px;
    background: #E84C3D;
    border-radius: 50%;
}
.actions article:hover {
    background-color: #E84C3D;
    border:3px solid #E84C3D;
}
.actions article:hover .actions-icons a{
    color:#E84C3D;
    background-color: #fff;
}
.actions article:hover aside p,
.actions article:hover aside h6 {
    color:white !important;
  
}
 .actions article:hover .line-light-grey:after{
    background-color: white;
}

/*STATISTICS SECTION*/

.statisctic {
    font-family: 'Roboto';
}

.statisctic article a,
.statisctic article span{
    text-decoration: none;
    font-size: 30px;
    color:#fff;
}

/*CREW SECTION*/
.crew {
    font-family: 'Roboto';
}
.crew img {
    display: block;
    max-width: 100%;
}
.crew .crew-item-hover .fa {
    text-decoration: none;
    width:29px;
    height:29px;
    line-height: 29px;
    border:1px solid #fff;
    border-radius: 50%;
    font-size:1rem;
    color:#fff;
}

.crew .crew-item-hover {
    bottom: 3%;
    left:3%;
    right:3%;
    width:94%;
}
.crew .crew-item-hover p {
    margin-bottom:0.5rem;
}
.crew article:hover .crew-item-hover {
    display: block !important;
}
.crew article p {
    margin-bottom: 0;
}
.crew h5+p.small {
    font-family: 'Open Sans';
    font-size: 14px;
}

/*SUBSCRIBE SECTION*/
.subscribe {
    padding:60px 0 100px !important;
}
.subscribe .form-control::placeholder {
    color:#fff;
}
/*FOOTER*/
footer p{
    margin-bottom: 0;
}